.home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-para {
  color: aliceblue;
  padding-bottom: 20px;
}
.button {
  background-color: #4855c8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.button button {
  font-size: 20px;
  font-weight: 700;
  background-color: #4855c8;
  text-decoration: none;
  border: none;
  color: white;
  padding: 5px;
}
